#message-textfield {
    width: 600px;
}

.message-tile {
    max-width: 30%;
}

#msg-panel-container {
    margin-bottom: 70px;
    overflow: hidden;
}

.message-content-text {
    font-weight: bold;
    font-size: 1.1em;
}

.message-timestamp-text {
    font-style: italic;
    font-size: 0.9em;
}