#prof-group-lst {
	align-items: flex-start;
	align-content: center;
}

#prof-group-header {
	margin-top: 40px;
}

#prof-group-body {
	margin-top: 20px;
}

#add-group-grid * {
	height: auto;
}

.add-student-form {
	align-content: center;
	align-items: flex-start;
	margin: 12px;
}