#gen-form {
    margin-top: 30px;
    margin-bottom: 20px;
}

.question-block-container {
    font-family: "Times New Roman", serif;
    font-size: 1.1em;
    letter-spacing: 0.03em;
}

.ipa-font-sensitive {
    font-family: "Times New Roman", serif;
    font-size: 1.3em;
    letter-spacing: 0.03em;
}

#helper-button-panel {
    margin-top: 25px;
}