/web/.idea
/web/node_modules
/web/client/node_modules
/web/database

/web/client/build

/web/client/.env
/web/.env

/web/mongo-data

/pyscript/venv/
/pyscript/.idea/
/pyscript/__pycache__/
/pyscript/script/data/~$*