#admin-add-user {
    margin-top: 30px;
}

.text-field-label-off {
    margin-top: -7px;
    margin-left: -12px;
}

.render-container {
    overflow: hidden;
}

#user-table-container {
    margin-bottom: 30px;
}