#outer-container {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#grid-container {
    display: table-cell;
    vertical-align: middle;
    align-items: center;
}

#input-grid {
    margin-top: -150px;
    width: 300px;
    margin-left: 42%;
    border: 2px solid dimgrey;
    border-radius: 25px;
    padding: 20px;
}

.grid-item {
    width: 200px;
    padding: 2px;
}

.login-grid .grid-item{
    margin-right: 5px;
}

#submit-button {
    margin-top: 30px;
    margin-bottom: -15px;
}