#add-question-body {
	margin: 12px;
	align-items: center;

	align-content: center;
}

#add-question-header {
	margin: 12px;
}

#group-sel {
	width: 100px;
}

.render-container {
	overflow: hidden;
}

#add-question-button {
	margin-top: 12px;
}

#send-quiz-button {
	margin-bottom: 12px;
}+

#group-sel-label {
	margin-bottom: 10px;
}
