.bold {
    font-weight: bold;
    font-size: 20px;
}

.main-area {
    margin: 30px 60px 60px 80px;
}

#link-button:hover {
    text-decoration: underline;
}

.ipa-font-sensitive {
    font-family: "Times New Roman", serif;
    font-size: 1.3em;
    letter-spacing: 0.03em;
}

.table-header {
    font-weight: bolder;
}

.copyright-info {
    text-align: center;
    margin-bottom: 5px;
    width: 100% !important;
    height: 20px !important;
    color: #a2a2c3;
}

.abs-bottom {
    position: fixed;
    bottom: 0;
}