#intro {
    background-color: white;
    padding: 10px;

    min-height: 300px;
    margin-left: 15px;
    margin-top: 20px;
    width: 250px;
    float:left;
}

#gen-panel {
    border-radius: 10px;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 25px;
}