
h1 {
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    padding: 20px 30px 20px 20px;
}

#forms {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5em;
    height: auto;
    table-layout: fixed;
    width: 100%;
    border: 10px solid transparent;
}

#phones, #poi, #phonemes{
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5em;
    height: auto;
    table-layout: fixed;
    width: 100%;
    border: 10px solid transparent;
}

#result {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5em;
    height: auto;
    table-layout: fixed;
    text-align: center;
    width: 33%;
    border: 10px solid transparent;
}

#result th, #result td {
    text-align: center;
    padding: 5px 10px 5px 10px;
}

#forms th, #forms td {
    padding: 10px 20px 10px 20px;
}

#gen_form {
    width: 35%;
}

#hint_form {
    width: 20%;
}

#rule_info {
    width: 45%;
}

#answer {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 1.35em;
    padding: 5px 20px 5px 20px;
}

#answer span {
    background-color: rgba(255, 160, 122, 0.5);
}