<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">

    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }} - Phonogenesis</title>
    {% else %}
        <title>No Title - Phonogenesis</title>
    {% endif %}
</head>

<body>
<div><a href="{{ url_for('index') }}">Home</a></div>
<hr>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% block content %}{% endblock %}
</body>

</html>