{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css',_external = True) }}">
{% endblock %}

{% block head %}
    {{ super() }}
    {% if title %}
        <title>{{ title }} - Phonogenesis</title>
    {% else %}
        <title>No Title - Phonogenesis</title>
    {% endif %}
{% endblock %}

{% block meta %}
    {{ super() }}
    <meta charset="UTF-8">
{% endblock %}

{% block content %}
    <h1>Phonogenesis - Alpha Prototype</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div>
        <table id="forms">
            <tr>
                <td id="gen_form">
                    {{ wtf.quick_form(gen_form) }} <br>
                    {{ wtf.quick_form(answer_form) }}
                </td>

                <td id="hint_form">
                    <p>{{ wtf.quick_form(hint_form) }}</p>
                    <br><br>
                    <p>{{ wtf.quick_form(gen_more_form) }}</p>
                </td>

                <td id="rule_info">
                    {% if data and size and rule_type %}
                        {% if show_full_phonemes and data %}
                            <p>Phonemes:
                                {% for phoneme in data['phonemes'] %}
                                    {{ phoneme }}
                                {% endfor %}
                            </p>
                        {% endif %}
                        {% if show_phone_interest and data %}
                            <p>Phones of Interest:
                                {#                                {% for phone in data['phone_interest'] %}#}
                                {#                                    {{ phone }}#}
                                {#                                {% endfor %}#}
                                {% for poi in data['phone_interest'][1] %}
                                    {{ poi }}
                                {% endfor %}
                            </p>
                        {% endif %}

                        <p>Templates: </p>
                        <ul>
                            {% for template in data['templates'] %}
                                <li>{{ template }}</li>
                            {% endfor %}
                        </ul>
                        <p>Rule Type: {{ rule_type }}</p>
                        <p>Total Amount: {{ size }}</p>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>

    <div>
        {% if show_answer %}
            <p id="answer"><span>Rule: {{ data['rule'] }}</span></p>
        {% endif %}
    </div>

    {% if data and size %}
        <div>
            <table id="result">
                <tr>
                    <th>UR</th>
                    <th>SR</th>
                    <th>Gloss</th>
                </tr>

                {% for i in range(size) %}
                    <tr>
                        <td>{{ data['UR'][i] }}</td>
                        <td>{{ data['SR'][i] }}</td>
                        <td>'{{ data['Gloss'][i] }}'</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    {% endif %}
{% endblock %}