{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
{% endblock %}

{% block head %}
    {{ super() }}
    {% if title %}
        <title>{{ title }} - Phonogenesis</title>
    {% else %}
        <title>No Title - Phonogenesis</title>
    {% endif %}
{% endblock %}

{% block meta %}
    {{ super() }}
    <meta charset="UTF-8">
{% endblock %}

{% block content %}
    <div class="forms">
        {{ wtf.quick_form(prof_gen) }}
    </div>
    {% if data and size %}
        <div><p id="answer"><span>Rule: {{ data['rule'] }}</span></p></div>
        <div><p id="poi">Phones of Interest:
                {% for poi in data['phone_interest'][1] %}
                    {{ poi }}
                {% endfor %}
                &emsp;
                Rule Type: {{ data['rule_type'] }}
            </p></div>
        <div>
            <table id="result">
                <tr>
                    <th>UR</th>
                    <th>SR</th>
                    <th>Gloss</th>
                </tr>

                {% for i in range(size) %}
                    <tr>
                        <td>{{ data['UR'][i] }}</td>
                        <td>{{ data['SR'][i] }}</td>
                        <td>'{{ data['Gloss'][i] }}'</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    {% endif %}
{% endblock %}